@import url("//fonts.googleapis.com/css?family=Arimo");
.odometer.odometer-auto-theme,
.odometer.odometer-theme-car3 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-car3 .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-car3 .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-car3 .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-car3 .odometer-digit .odometer-ribbon {
    display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-car3 .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-car3 .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme
    .odometer-digit
    .odometer-value.odometer-last-value,
.odometer.odometer-theme-car3
    .odometer-digit
    .odometer-value.odometer-last-value {
    position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-car3.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating
    .odometer-ribbon-inner,
.odometer.odometer-theme-car3.odometer-animating-up.odometer-animating
    .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-car3.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner,
.odometer.odometer-theme-car3.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-car3 {
    -moz-border-radius: 0.34em;
    -webkit-border-radius: 0.34em;
    border-radius: 0.34em;
    font-family: "Arimo", monospace;
    /* font-family: 'Montserrat', monospace; */
    padding: 0.15em;
    background: #24272c;
    color: #babeca;
}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-car3 .odometer-digit {
    -moz-box-shadow: inset 0 0 0.3em #121315;
    -webkit-box-shadow: inset 0 0 0.3em #121315;
    box-shadow: inset 0 0 0.3em #121315;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMxMDEwMTAiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size: 100%;
    background-image: -webkit-gradient(
        linear,
        50% 0%,
        50% 100%,
        color-stop(0%, #24272c),
        color-stop(40%, #24272c),
        color-stop(60%, #101010),
        color-stop(80%, #24272c),
        color-stop(100%, #24272c)
    );
    background-image: -moz-linear-gradient(
        top,
        #24272c 0%,
        #24272c 40%,
        #101010 60%,
        #24272c 80%,
        #24272c 100%
    );
    background-image: -webkit-linear-gradient(
        top,
        #24272c 0%,
        #24272c 40%,
        #101010 60%,
        #24272c 80%,
        #24272c 100%
    );
    background-image: linear-gradient(
        to bottom,
        #24272c 0%,
        #24272c 40%,
        #101010 60%,
        #24272c 80%,
        #24272c 100%
    );
    padding: 0 0.15em;
}
.odometer.odometer-auto-theme .odometer-digit:first-child,
.odometer.odometer-theme-car3 .odometer-digit:first-child {
    -moz-border-radius: 0.2em 0 0 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em 0 0 0.2em;
}
.odometer.odometer-auto-theme .odometer-digit:last-child,
.odometer.odometer-theme-car3 .odometer-digit:last-child {
    -moz-box-shadow: inset 0 0 0.3em #121315;
    -webkit-box-shadow: inset 0 0 0.3em #121315;
    box-shadow: inset 0 0 0.3em #121315;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMxMDEwMTAiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size: 100%;
    background-image: -webkit-gradient(
        linear,
        50% 0%,
        50% 100%,
        color-stop(0%, #babeca),
        color-stop(40%, #babeca),
        color-stop(60%, #9e9e9e),
        color-stop(80%, #babeca),
        color-stop(100%, #babeca)
    );
    background-image: -moz-linear-gradient(
        top,
        #babeca 0%,
        #babeca 40%,
        #9e9e9e 60%,
        #babeca 80%,
        #babeca 100%
    );
    background-image: -webkit-linear-gradient(
        top,
        #babeca 0%,
        #babeca 40%,
        #9e9e9e 60%,
        #babeca 80%,
        #babeca 100%
    );
    background-image: linear-gradient(
        to bottom,
        #babeca 0%,
        #babeca 40%,
        #9e9e9e 60%,
        #babeca 80%,
        #babeca 100%
    );
    padding: 0 0.15em;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-car3 .odometer-digit .odometer-digit-inner {
    left: 0.15em;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner,
.odometer.odometer-theme-car3.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-car3.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}
.odometer.odometer-auto-theme .odometer-digit:last-child,
.odometer.odometer-theme-car3 .odometer-digit:last-child {
    color: #24272c;
    -moz-border-radius: 0 0.2em 0.2em 0;
    -webkit-border-radius: 0;
    border-radius: 0 0.2em 0.2em 0;
}
